html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343a40 ;
}

* {
  text-decoration: none;
  /* font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif !important; */
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #EE777A;
}

/* .MuiFormLabel-root.Mui-focused {
  color: #EE777A !important;
} */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #d8d2c6;
  box-shadow: 8px #EE777A;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #EE777Ada;
}

.MuiFormLabel-root.Mui-focused {
  color: #EE777A !important;
}

.MuiFilledInput-underline:after {
  border-color: #EE777A !important;
}

/* .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: "red" !important;
}

.MuiOutlinedInput-root fieldset {
  border-color: "white" !important;
}
.MuiOutlinedInput-root:hover fieldset {
  border-color: "white" !important;
}
.MuiOutlinedInput-root .Mui-focused fieldset {
  border-color: "yellow" !important;
} */

.MuiFormLabel-root.Mui-focused {
  color: #EE777A !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #EE777A !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: #EE777A !important;
}

.Breadcrumbs {
  margin: 1rem;
}

.ourGreen {
  background-color: #EE777A !important;
}